<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-3.2.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                           http://www.springframework.org/schema/mvc 
                           http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
                           http://www.springframework.org/schema/jdbc 
                           http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd">

	<context:component-scan base-package="com.baizhi.controller"></context:component-scan>
	
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<bean id = "reslvoer" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="suffix" value = ".jsp"></property>
		<property name="prefix" value = "/"></property>
	</bean>
	
	<bean id ="multipartResolver" class = "org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name = "maxUploadSize">
			<value>400000</value>
		</property>
	</bean>
	
	<bean id = "globalException" class="com.baizhi.exception.GlobalExceptionHandler"></bean>
                            
        
       
       
</beans>
